body {
    color: black;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding-left: 3em;
    font-family: 'BhuTuka Expanded One', cursive;

}
h1 {
    color: black;
    font-family: 'Brush Script MT';
    text-align: center;
    font-size: 250%;
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
}


#ej1{
    font-size: large;
    width: 56%;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#tabla{
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
    width: 60%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#nombre{
    font-size: larger;
    width: fit-content;
    font-family: Verdana;
}
#titulo{
    color: blue;
    font-size: larger;
    font-family: Helvetica;
}

#titulo2{
    color: black;
    font-size: larger;
    font-family: Helvetica;
    text-align: center;
    
}

#texto{
    color: black;
    background-color: salmon;
    font-size: large;
    font-family: Geneva;
    width: fit-content;
}

#foto{
    width: 200px;
    height: 200px;
    text-align: center;
}

#filas{
    border-style: dashed;
    border: 1;
}

#ej4{
    border-radius: 1px;
    font-size: large;
    width: 50%;
    border-collapse: collapse;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#filas_ej1{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}